<% if File.exist?("content" + photo(@item)) %>
  <img id="author-photo" src="<%= photo(@item) %>" alt="<%= @item[:title] %>"/>
<% end %>

<div id="author-info">
  <div id="name"><a href="<%= @item[:link] %>"><%= @item[:title] %></a></div>
  <div id="email"><%= obfuscate_email(@item[:email]) %></div>

  <p>
    <%= @item[:subject] %></br>
    <%= @item[:university] %>
  </p>

  <%= @item[:country] %><%= ' ' + '(' + @item[:period] + ')' if @item[:period] %>
  <!-- <div id="blog"><a href="<%= @item[:link] %>">Блог</a></div> -->
</div>

<div id="feed">
  <%
    if @item[:feed]
      feed = FeedNormalizer::FeedNormalizer.parse open(@item[:feed])
  %>
    <div id="feed-container">
      <div id="feed-title"><a href="<%= feed.entries.first.url %>"><%= feed.entries.first.title %></a></div>
      <!-- <div id="feed-subtitle">(<%= feed.last_updated.to_s.split[0] %>) </div> -->
      <div id="feed-subtitle">(топла информация)</div>
    </div>
    
    <div id="feed-content"><%=
        maxlen = 300
        brief = feed.entries.first.content[0..maxlen]   # crop not more than 300 chars
        brief = brief.split(' ')[0..-2].join(' ')
        Sanitize.clean(brief)
      %>
      <a href="<%= feed.entries.first.url %>"> [...]</a>
    </div>

  <% end %>
</div>
