<% if File.exist?("content" + photo(@item)) %>
  <img id="author-photo" src="<%= photo(@item) %>" alt="<%= @item[:title] %>"/>
<% end %>

<div id="author-info">
  <div id="name"><a href="<%= @item[:link] %>"><%= @item[:title] %></a></div>
  <div id="email"><%= obfuscate_email(@item[:email]) %></div>

  <div id="studies">
    <div id="subject"><%= @item[:subject] %></div>
    <div id="university"><%= @item[:university] %></div>
    <div id="country"><%= @item[:country] %><%= ', ' + @item[:period] if @item[:period] %></div>
  </div>
</div>

<div id="feed">
  <%
    if @item[:feed]
      feed = FeedNormalizer::FeedNormalizer.parse open(@item[:feed])
  %>
    <% for i in 0..2
      next if ! post = feed.entries[i]
      
      how_new = ['(най-ново)', '(почти ново)', '(просто ново)']
    %>
      <div id="feed-container">
        <div id="feed-title"><a href="<%= post.url %>"><%= post.title %></a></div>
        
        <div id="feed-subtitle"><%= how_new[i] %></div>

        <div id="feed-content"><%=
            maxlen = 300
            brief = post.content[0..maxlen]   # crop not more than 300 chars
            brief = brief.split(' ')[0..-2].join(' ')
            Sanitize.clean(brief)
          %>
          <a href="<%= post.url %>"> [...]</a>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
