<div id="author-info">
  <div id="name"><a href="<%= @item[:link] %>"><%= @item[:title] %></a></div>
  <div id="email">(<%= obfuscate_email(@item[:email]) %>)</div>

  <ul>
    <li><%= @item[:subject] %></li>
    <li><%= @item[:university] %></li>
    <li><%= @item[:country] %></li>
    <li><%= @item[:period] %></li>
  </ul>
</div>
