<div class="author-info">
  <% if File.exist?("content" + photo(@item)) %>
    <img class="author-photo" src="<%= photo(@item) %>" alt="<%= @item[:title] %>"/>
  <% end %>

  <div class="name"><a class="novisited" href="<%= @item[:link] %>"><%= @item[:title] %></a></div>
  <div class="email"><%= obfuscate_email(@item[:email]) %></div>

  <div class="studies">
    <div class="subject"><%= @item[:subject] %></div>
    <div class="university"><%= @item[:university] %></div>
    <div class="country"><%= @item[:country] %><%= ', ' + @item[:period] if @item[:period] %></div>
  </div>
</div>

