<!DOCTYPE HTML>
<html lang="en">
  <head>
    <%= render 'header' %>
  </head>
  <body>
    <div class="content">
      <div id="main">
        <% if %r"^/blogs/.*/$" =~ @item.identifier %>
            <%= render 'author' %>
            <%= render 'feed' %>
            <%= yield %>
        <% else %>
            <div id="about">
              <%= render 'about' %>
              <%= yield %>
            </div>
        <% end %>
      </div>
      <%= render 'sidebar' %>
    </div>
  </body>
  <%= render 'license' %>
</html>
