<div id="feed">
  <%
    if @item[:feed]
      feed = Feedzirra::Feed.fetch_and_parse(@item[:feed])
      #feed = FeedNormalizer::FeedNormalizer.parse open(@item[:feed])
  %>
    <% for i in 0..2
        break if ! post = feed.entries[i]
      
        how_new = ['(най-ново)', '(почти ново)', '(просто ново)']
    %>
      <div class="feed-container">
        <a class="under" href="<%= post.url %>"><%= Sanitize.clean(post.title[0..150]) %></a>
        <span class="feed-subtitle"><%= how_new[i] %></span>

        <div class="feed-content"><%=
            maxlen = 220
            if post.content != nil
              brief = Sanitize.clean(post.content[0..2*maxlen])
              brief = brief[0..maxlen]   # crop not more than 300 chars
              brief.split(' ')[0..-2].join(' ')
            end
          %>
          <a href="<%= post.url %>">[...]</a>
        </div>
      </div>
    <% end %>

    <% if feed.entries[3..-1] %>
      <span class="feed-older-subtitle">Малко по-стари:&nbsp</span>
      <% feed.entries[3..-1].each_with_index { |post, i| %>
        <a class="under" href="<%= post.url %>"><%= post.title %></a><%= (i<feed.entries.size-4 ? ',&nbsp' : '') %>
      <% } %>
    <% end %>
  <% end %>
</div>
